 
  
@media (min-width: 768px) and (max-width: 5000px) 
{
.nav_top .dropdown .dropdown-menu { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s;
    -o-transition: all 0.3s;transition: all 0.3s; max-height: 0; display: block; opacity: 0;visibility: hidden;  margin:0px; border: none; border-bottom: 2px solid #ccc; 
    background:#fff !important;
    width: 150px; padding: 0px;
   border-radius: 0; left: 0; right: inherit; padding: 5px 8px 8px; box-shadow: inherit; }

.nav_top .dropdown:hover .dropdown-menu { max-height: 300px;opacity: 1; visibility: visible; }








}

@media (min-width: 1550px) {
    .search-filter {
    padding: 0;
    display: block;
}
.service-white{
    padding: 40px;
}
.propertiesbx-link p {
    font-size: 15px;
}
.propertiesbx-link strong {
    font-size:21px;
    font-weight: 700;
    margin-bottom: 7.5px;
}
.propertiesbx:hover .probtn {
    width: 120px;
    height: 38px;
    line-height: 15px;
    font-size: 16px;
}
.propertiesinr .owl-nav .owl-prev , .propertiesinr .owl-nav .owl-next {
    width: 47px;
    height: 47px;
}
.propertiesbx span{
    height: 185px;
}
.container {
    max-width: 1300px;
}
.ribbon-vertical{
    border:10px solid #f2b210;
}
.ribbon-vertical.Sale {
    border: 10px solid #338306;
    }
}  
@media (min-width: 1700px) {
    .propertiesbx span {
    height: 180px;
}
    }
@media (min-width: 1750px) {

 .propertiesbx span {
    height: 182px;
}
}  
@media (min-width: 2050px) {


} 
@media (max-width: 1550px) {

.container{max-width: 1200px;}
.navbar-brand img{
    width: 185px;
}
.container {
    max-width: 1200px;
}
}  
  
/*07/10/21 puja*/  
@media (min-width: 1300px) and (max-width: 1400px) {

.con_det_pg, header .container-fluid , .property-sec .container-fluid , .search-list .container-fluid {
    max-width: 1300px !important;
}

.share_bx span {
    font-size: 14px;
}
.send_mess_bx span {
    font-size: 13px;
    padding-left: 28px;
}
.num_2 span:last-child {
    margin-left: 0;
}
.send_mess_bx span img {
    top: -3px;
}
.property_ri_itm h2 {
    font-size: 19px;
    font-weight: 500;
}
.vi-more{padding: 0 5px;width: auto;}
.agent-name h6{font-size: 15px;}
.similar_sec .listing-image a {
    height: 158px;
}


/*08/10/21 new css*/
.similar_sec .agent-name h6{font-size: 14px;}

}

@media (min-width: 1200px) and (max-width: 1299px) {


.share_bx span {
    font-size: 14px;
}
.send_mess_bx span {
    font-size: 13px;
    padding-left: 28px;
}
.num_2 span:last-child {
    margin-left: 0;
}
.send_mess_bx span img {
    top: -3px;
}
.property_ri_itm h2, #monthAndYear {
    font-size: 17px;
}
.vi-more{padding: 0 5px;width: auto;}
.agent-name h6{font-size: 15px;}
.similar_sec .listing-image a {
    height: 158px;
}
.property_top_le li{margin-right: 14px;
font-size: 15px;}
.property_top_rig span{font-size: 21px;}
#thumbnail-slider ul li {
    width: 79px !important;
}
.send_mess_bx span{word-break: break-all; width: 100%; display: inline-block;}
.send_mess_bx span img {
    top: 2px;
}
.num_2 span:last-child{margin-top: 12px !important;}
.table-calendar td, .table-calendar th {
    padding: 6px 0px !important;
    font-size: 12px !important;
}
.floating-select, .input-field, .input-field input, .input-field select, .input-field textarea{height: 46px;}
.input-field label{top: 59%;}
.pro_media, .property_ri_itm h2, .calendar_div, .send_mess_bx ,.input_type_bx{
    padding-left: 15px; 
    padding-right: 15px;
}

}

  
/*07/10/21 puja*/  
@media (max-width: 1200px) {

.con_det_pg, header .container-fluid , .property-sec .container-fluid , .search-list .container-fluid {
    max-width: 1170px !important;
}


}

  
@media (max-width: 1200px) {


.container{max-width: 1200px;}



}  
  @media (max-width: 1299px) {
   
}
 @media (min-width: 992px) {
    .jobs-details .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 72%;
    flex: 0 0 72%;
    max-width: 72%;
}
    .jobs-details .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 28%;
    flex: 0 0 28%;
    max-width: 28%;
}
 } 
@media (max-width: 1199px) {


.container{max-width: 980px;}
.navbar-brand img{
    width: 150px;
}
.text-center h1{
    font-size: 36px;
    line-height: 40px;
}
.banner-form {
    margin: 20px 0 20px;
}
.service-section {
    padding: 50px 0 40px;
}
.service-background{
    padding: 40px 20px;
}
.service-white{
    padding: 30px 15px;
}
.pro-secr{
    padding-left: 45px;
}
.image_div {
    margin-right: 15px;
    }
.image_div img{
    width: 50px;
}
.rester-info{
    padding: 40px 25px;
}
.register-text h5 {
    font-size: 18px;
    }
    .center_tag_wrapper {
    width: 44px;
    height: 44px;
    top: 50%;
    left: 48%;
}
.center_tag_wrapper p {
    font-size: 14px;
    padding-left: 0px;
    margin-top: 13px;
}
.register-text p {
    margin: 10px 0 17px;
}
.pl25 {
    padding-left: 0;
}
header .navbar-nav .nav-link{
    font-size: 14px;
}
header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 10px;
}
header .navbar-brand{
    top: 3px;
}
.btn-sign-in .haderbtn {
    font-size: 15px;
    width: 80px;
    height: 37px;
    }
    .apply-btn {
    width: 220px;
}
.input-search {
    width: calc(100% - 220px);
}
.inputsearch {
    width: calc(16.66% - 8px);
    margin-right: 8px;
}
.inputsearch a, .inputsearch input {
    font-size: 13px;
    letter-spacing: 0.0px;
    padding-left: 5px;
    padding-right: 5px;
}
.caret-img {
    width: 8px;
}
.mor-filters a, .mor-filters input{
    font-size: 13px;
}
.save-search{
    font-size: 14.5px;
}
.filter-category{
    width: 180%;
}
.forbuy .radiobx input[type=radio]:checked + label , .forbuy .radiobx input[type=radio] + label{
    padding: 8px 0px 8px 6px;
    font-size: 12.5px
}
.forbuy .radiobx input[type=radio]:checked + label:before{
    left: 3px;
}
.show03.filter-category, .show05.filter-category {
    width: 150%;
}
.mor-filters .filter-category {
    left: auto;
    right: -9px;
}
.listing-image a{
    height: 170px;
}
.product-img-location p{
    font-size: 15px;
}
.name-price {
    margin: 7px 0 20px;
}
.name-price h5 , .name-price p {
    font-size: 16.5px;
}

.list-item-info li span{
    font-size: 15px;
}
.list-item-info li{
    font-size: 13px;
}
.agent-info em {
    width: 40px;
    height: 40px;
    margin-right: 7px;
}
.agent-name h6 {
    font-size: 16px;
    letter-spacing: 0.1px;
    margin-bottom: 3px;
}
.vi-more {
    width: 86px;
    font-size: 14px;
}
.pagination-section {
    margin-top: 25px;
}
.search-thum {
    padding: 15px 0 30px;
}
.ser-pro-contact {
    margin-left: 0;
}
.ser-pro-info {
    padding-right: 15px;
    border-right: 1px solid #d9d9d9;
}
.ser-pro-img em {
    width: 125px;
    height: 125px;
    margin: 0 12px 0 0px;
}
.msg-me {
    width: 130px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    letter-spacing: 0px;
    margin-top: 15px;
}
.ser-pro-name p {
    font-size: 16px;
    margin: 6px 0 8px;
}

.pro-social {
    margin-top: 69px;
}
.white-backgrund {
    margin-top: 20px;
    padding: 20px 10px;
}
.ser-pro-contact ul li img, .ser-pro-contact ul li a img {
    margin-right: 8px;
}
.ser-pro-contact ul li {
    margin: 2px 0 14px 0;
}
.white-backgrund .col-lg-3.col-xl-4.col-sm-12{
    padding-left: 0;
}
.fav-pro {
    top: 14px;
    right: 13px;
}
.about-sec-pro h5{
    margin-bottom: 10px;
}


/*07/10/21(puja)*/
.con_det_pg, header .container-fluid , .property-sec .container-fluid , .search-list .container-fluid {
    max-width: 100% !important;
}
.navbar-brand {
    margin-left: 0px;
}

.share_bx span {
    font-size: 14px;
}
.send_mess_bx span {
    font-size: 13px;
    padding-left: 28px;
}
.num_2 span:last-child {
    margin-left: 0;
}
.send_mess_bx span img {
    top: -3px;
}
.property_ri_itm h2, #monthAndYear {
    font-size: 17px;
}
.vi-more{padding: 0 5px;width: auto;}
.agent-name h6{font-size: 15px;}
.similar_sec .listing-image a {
    height: 158px;
}
.property_top_le li{margin-right: 14px;
font-size: 15px;}
.property_top_rig span{font-size: 21px;}
#thumbnail-slider ul li {
    width: 79px !important;
}
.send_mess_bx span{word-break: break-all; width: 100%; display: inline-block;}
.send_mess_bx span img {
    top: 2px;
}
.num_2 span:last-child{margin-top: 12px !important;}
.table-calendar td, .table-calendar th {
    padding: 6px 0px !important;
    font-size: 12px !important;
}
.floating-select, .input-field, .input-field input, .input-field select, .input-field textarea{height: 46px;}
.input-field label{top: 59%;}
.pro_media, .property_ri_itm h2, .calendar_div, .send_mess_bx ,.input_type_bx{
    padding-left: 15px; 
    padding-right: 15px;
}
.property_top_le h1{font-size: 25px;}
.property_top_le li {
    margin-right: 5px;
    font-size: 14px;
}
.property_top_rig span {
    font-size: 16px;
}
.property_top_le {
    width: 71%;
}
.property_top_rig {
    width: 29%;
}
#thumbnail-slider ul li {
    width: 65px !important;
}

/*#ninja-slider {
    width: 86% !important;
}*/
.pro_media .media-body h5{font-size: 17px;}
.pro_media .media-body b{font-size: 14px;}
.property_details_pg{padding-bottom: 36px;}
.similar_sec{padding: 30px 0 44px;}
.haeder-padding {
    padding-top: 53px;
}
.banner-section{
    padding-top: 0;
}
.search-list{
    top: 49px;
        padding: 15px 0;
}
.search-filter {
    padding: 0;
}
/*login pop up*/
.field-icon{top: 59%;}


/*agent public profile page*/
.agent_publick_sec .our_properties_panel .name-price h5 {
    font-size: 12px;
}
.agent_publick_sec .our_properties_panel .name-price p {
    font-size: 14px;
}
.agent_publick_sec .our_properties_panel .rating-pro p{display: flex;}
.agent_publick_sec .our_properties_panel .rating-pro p img{width: 8px;object-fit: contain;}
.agent_publick_sec .our_properties_panel .listing-image a {
    height: 106px;
}

/*agent public profile page*/

.user_dash_menu li a{padding-left: 40px; padding-right: 10px;}
.user_dash_menu li a em{left: 7px;}
.user_dash_menu li {
    font-size: 14px;
}
.all-products .col-sm-6.col-md-4 {
    padding: 0 8px;
}
.top-total h5{
    font-size: 17px;
    line-height: 28px;
}
.sort-select , .sort-filter p{
    font-size: 13px !important;
}
.ser-pro-info-top em {
    width: 110px;
    height: 110px;
}
.ser-pro-info-top h2 , .bud-details h5{
    font-size: 15px;
    letter-spacing: 0;
    }
    .ser-pro-info-top p{
        font-size: 13.5px;
    }
.providers-info {
    padding: 15px 15px 4px;
}
.bud-details p {
    font-size: 11px;
    }
    .ser-pro-info-top h2 span {
    font-size: 14px;
}

.providers-info p {
    font-size: 13px;
}
.serp-budget a {
    width: 70px;
    height: 26px;
    line-height: 26px;
    font-size: 11.5px;
}
.serp-budget {
    padding: 0 10px 12px;
}
.furn .ul_radio li {
    margin-right: 7px;
    margin-top: 7px;
}
.left-profle-agent .user_dash_menu li a {
    padding-left: 36px;
}
.dashboard-agent:before{
    top: 50px;
}
.cus-dashboard-right h2 {
    font-size: 19px;
    margin-top: 14px;
}
.left-profle-agent .user_dash_pro h4 {
    font-size: 17px;
    }
    .left-profle-agent .user_dash_pro h6 {
    font-size: 14px;
}
.left-profle-agent .user_dash_pro em {
    width: 120px;
    height: 120px;
}
.new-aget-pro li {
    width: 33.3%;
}
.agent-right-body  .rating-pro {
    width: 45px;
}
.agent-right-body .our_properties_panel .listing-image a {
    height: 111px;
}
.agent-right-body{
    padding: 10px 9px 30px;
}
.check-box.new-av-check label.checklabeel{
    font-size: 14px;
    line-height: 20px;
}
.check-box.new-av-check input[type="checkbox"] + label {
    padding-left: 26px;
    }
    .new_rows.no-gutters > .col, .new_rows.no-gutters > [class*="col-"] {
    padding-right: 8px;
    padding-left: 0px;
}
.member-box {
    padding: 20px 15px;
    margin-top: 20px;
}
.member-box h2 {
    font-size: 20px;
    margin-bottom: 14px;
}
.member-box h3 {
    font-size: 17.2px;
    margin-bottom: 15px;
}
.member-box h5 {
    font-size: 16px;
    margin-bottom: 10px;
}
.member-box p {
    font-size: 14.5px;
    line-height: 23px;
    margin-bottom: 15px;
}
.member-box h3.extra-mem {
    font-size: 20px;
}
.find-job-se{
    padding: 18px;
}
.job-lists ul li{
    font-size: 13.2px;
}
.job-lists ul li img {
    margin-right: 4px;
}
.job-lists h2{
    font-size: 17px;
    line-height: 24px;
}
.dashboard-agent .cusdashb-left {
    top: 53px;
}
.our_properties_panel .col-sm-6.col-md-4{
    padding: 0 8px;
}
.user_das_right_inr .property-item {
    padding: 10px;
}
.our_properties_panel .list-item-info li{
    margin-right: 14px;
}
.our_properties_panel .list-item-info li.before::before {
    right: -3px;
}


.jobs-details {
    padding: 30px 0 40px;
}
.main-dtls {
    margin-bottom: 15px;
    padding: 20px 18px;
}
.details-block h2 {
    font-size: 19.5px;
    margin-bottom: 10px;
}
.details-block p{
    font-size: 14px;
    line-height: 22px;
}
.hours-areas {
    margin: 10px 0 05px;
}
.hours-areas ul li {
    margin-bottom: 10px;
}
.hour-box {
    padding: 10px 8px;
}
.posted p {
    font-size: 11.5px;
}
.fav-pro a i {
    font-size: 20px;
}
.search-filter.new-filters{
    padding: 50px 10px 30px;
}
.prolists-ul .list_checkBox{
    padding-left: 20px;
}
.starRate_chec li:last-child {
    margin-left: 8px !important;
    font-size: 13px;
}
}
/*1199px*/













@media only screen and (max-width: 1010px) {
    header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 8px;
}
header .navbar-nav .nav-link{
    font-size: 13.5px;
}
.btn-sign-in .haderbtn {
    font-size: 14px;
    width: 70px;
    height: 34px;
}
.haeder-padding {
    padding-top: 53px;
}
    }

@media only screen and (max-width: 991px) {
    .container {
    max-width: 900px;
}
.navbar-brand img{
    width: 170px;
}
.white-backgrund .col-lg-3.col-xl-4.col-sm-12{
    padding-left: 15px;
}
/*say start*/

header .navbar-toggler {
    background: #2b7102;
    width: 39px;
    height: 35px;
    border-radius: 3px!important;
}
header .navbar-toggler {
    padding: 5px 8px;
}
header .navbar-toggler .icon-bar {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 3px;
    background-color: #fff;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
header .navbar-toggler .icon-bar {
    width: 23px;
    height: 2px;
}
header .navbar-toggler .icon-bar + .icon-bar {
    margin-top: 5px;
}
header .navbar-toggler.showtoggle .icon-bar:nth-child(1) {
    width: auto;
}
header .navbar-toggler.showtoggle .icon-bar:nth-child(2) {
    opacity: 0;
    width: 0px;
}
header .navbar-toggler.showtoggle .icon-bar:nth-child(3) {
    width: auto;
    margin-top: -9px;
}
header .navbar-toggler {
    outline: none !important;
    text-align: center;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-radius: 0px;
    border: 0px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    position: relative;
}
header .navbar-toggler.showtoggle .icon-bar:nth-child(1) {
    -ms-transform: matrix(1, -1, 0, 1, 0, 0);
    transform: matrix(1, -1, 0, 1, 0, 0);
    -webkit-transform: matrix(1, -1, 0, 1, 0, 0);
}
header .navbar-toggler.showtoggle .icon-bar:nth-child(3) {
    -ms-transform: matrix(1, 1, 0, 1, 0, 0);
    transform: matrix(1, 1, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 1, 0, 1, 0, 0);
}
header .navbar-collapse {
    position: absolute;
    width: 100%;
    background: #fff;
    top: 100%;
    left: 0;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-bottom: 5px solid #338306;
}


.btn-sign-in {
    position: absolute;
    right: 52px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
header .navbar-brand {
    position: unset;
    width: auto;
    padding-right: 0;
    margin-right: 0;
    text-align: center;
    left: 41.5%;
    top: 9px;
}
.btn-sign-in .haderbtn {
    height: 36px;
}
/*say end*/
header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 15px;
}
header .navbar-expand-lg .navbar-nav .nav-item:first-child .nav-link {
    padding-left: 15px;
}

.navbar{
        padding: 0.5rem 0rem;
}

.text-center h1 {
    font-size: 29px;
    line-height: 35px;
}
.banner-form .nav-pills li a.nav-link {
    width: 101px;
    height: 36px;
}



.banner-form .nav-pills li a.nav-link img {
   width: 18px;
}
.banner-form .nav-pills li a.nav-link.active:before{
    top: 29px;
}
.from-sec-banner{
    padding: 3px;
    max-width: 670px;
}
.input-with-icon input{
    height: 44px;
    font-size: 14px;
}
.search-box input{
    height: 44px;
    font-size: 16.5px;
}
.sub2-lap img{
    width: 18px;
}
.banner-form {
    margin: 19px 0 15px;
}
.input-from{
    width: calc(100% - 110px);
}

.search-box {
    width: 110px;
    height: 44px;
}
.borders .input-with-icon img {
    left: 9px;
    width: 15px;
}
.input-with-icon input{
    padding-left: 30px;
}
.input-with-icon img{
    left: 0;
    width: 18px;
}
.banner-text{
    bottom: 0px;
}
.section-heading h2 , .section-heading2 h2{
    font-size: 27px;
    margin-bottom: 6px;
        line-height: 30px;
}
.section-heading2 {
    margin-bottom: 5px;
}
.property-sec {
    padding:35px 0;
}
.section-heading p , .section-heading2 p {
    font-size: 15px;
    line-height: 22px;
}
.section-heading {
    margin-bottom:24px;
}
.service-white {
    padding: 15px 15px;
    margin-top: 15px;
}
.service-white img {
    margin: 8px 0 10px;
    width: 60px;
}
.service-white h5 {
   font-size: 18px;
    margin: 4px 0 6px;
}
.service-white p {
    font-size: 14px;
    line-height: 19px;
    }
.service-white a {
    margin: 15px 0 10px;
    font-size: 15.5px;
}
.propertiesbx span{
    height:180px;
}
.register-section {
    padding: 35px 0;
}
.rester-info {
    padding: 20px 14px 25px;
}

.register-text h5 {
    font-size: 16px;
}
.register-text p {
    margin: 5px 0 10px;
    font-size: 14px;
    line-height: 22px;
}

.register-text a {
    font-size: 14px;
}
.rester-info:after{
    border-radius: 0;
}
.center_tag_wrapper {
    width: 44px;
    height: 44px;
    top: 50%;
    left: 47%;
    }
    .center_tag_wrapper p{
        font-size: 14px;
        padding-left: 0px;
            margin-top: 22px;
    }
    .footbx {
    padding: 20px 0px 20px;
    display: inline-block;
}
.footbx p {
     margin: 10px 0;
    font-size: 12px;
    line-height: 19px;
}

.pl65 {
    padding-left: 15px;
    padding-right: 0;
}
.footbx h5 {
    margin-bottom: 10px;
    font-size: 16px;
}
.footbx ul li a {
    font-size: 13px;
    padding: 8px 0;
}
.foot_botm {
    padding: 14px 0;
}

.foot_botm_right p {
    margin-right: 10px;
}
.foot_botm_right ul li a img {
    width: 25px;
}
.service-section {
    padding: 50px 0 40px;
}
.image_div {
    margin-right: 10px;
    margin-top: 12px;
}
.foot_arw.fixed{
    right: 20px;
}
.mobile-list {
       display: block;
    margin-bottom: 5px;
    z-index: 20;
    width: 25%;
    top: 17px;
    z-index: 1;
    font-size: 16px;
    height: 38px;
    border-radius: 2px;
    line-height: 21px;
    position: absolute;
}
.search-filter {
    width: calc(100% - 30px);
    padding-top: 15px;
    border-right: none;
    display: none;
    position: absolute;
    z-index: 9;
    background: #fff;
    top: 59px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    padding: 015px 10px 10px 10px;
}

.mobile-list {
    width: 40%;
}
.search-section {
    display: block;
}
.input-search {
    display: flex;
    flex-wrap: wrap;
    width: 100% ;
}
.inputsearch {
    width: calc(33.3% - 10px) ;
    margin-right: 10px;
    margin-bottom: 10px;
}
.filter-category{
    width: 100%;
}
.apply-btn {
    width: 66.5%;
}
 .mor-filters .filter-category{
    width: 100%;
    
}
.mor-filters , .save-search{
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-left: 0;
    margin-bottom: 10px;
}
.inputsearch a, .inputsearch input , .mor-filters a, .mor-filters input , .save-search , .locatiob-search select{
    height: 40px;
    font-size: 12.5px;
    line-height: 37px;
}
.filter-category{
    top: 40px;
    padding: 5px 5px;
}
.forbuy .radiobx input[type=radio] + label , .forbuy .radiobx input[type=radio]:checked + label{
    font-size: 13.5px;
        padding: 10px 0px 10px 15px;
}
.property-data {
    display: none;
}
.search-list {
    padding: 0;
    }
    .sort-filter {
    margin-top: 0;
}
.mobile-list{
    font-size: 15px;
}
.property-item {
    padding: 12px;
    margin-top: 20px;
}
.name-price {
    margin: 6px 0 17px;
}
.name-price h5 , .name-price p , .list-item-info li span{
    font-size: 16px;
}
.list-item-info li span img {
    margin-left: 4px;
    width: 14px;
}

.propety-agent {
    margin-top: 15px;
    padding-top: 10px;
}
.agent-name h6 {
    font-size: 16px;
    letter-spacing: 0.11px;
    }
    .vi-more {
    width:86px;
    height: 32px;
    font-size: 13.5px;
    line-height: 19px;
}
.forbuy .radiobx input[type=radio]:checked + label:before {
    left: 13px;
}
.show03.filter-category, .show05.filter-category {
    width: 100%;
}
.mor-filters .filter-category {
    left: 0;
    right: auto;
}
.listing-image a {
    height: 222px;
}
.ser-pro-info , .ser-pro-name ul{
    flex-wrap: wrap;
}

.white-backgrund {
    margin-top: 20px;
    padding: 20px 13px;
}
.ser-pro-img em {
    width: 115px;
    height: 115px;
    margin: 0 10px 0 0px;
}
.ser-pro-name h5 {
    font-size: 16px;
}
.ser-pro-name div span {
    font-size: 12px;
    padding: 2px 4px;
    margin-left: 5px;
}
.ser-pro-name p {
    font-size: 14.4px;
    margin: 5px 0 6px;
}
.ser-pro-name ul li span {
    font-size: 14.4px;
        margin-left: 4px;
}
.ser-pro-name ul li img{
    width: 18px;
}
.ser-pro-info {
    padding-right: 0px;
    padding-bottom: 20px;
    margin-bottom: 5px;
    border-right: 0px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.ser-pro-name ul li {
    margin-right: 5px;
}
.fav-pro {
    top: 10px;
    right: 10px;
}
.pro-social {
    margin-top:35px;
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.ser-pro-contact ul li, .ser-pro-contact ul li a {
    letter-spacing: 0px;
    font-size: 14px;
}
.ser-pro-contact ul li {
    margin: 10px 0 2px 0;
}
.about-sec-pro h5{
    font-size: 17px;
    margin-bottom: 8px;
}
.about-sec-pro p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 7px;
}
.skills li {
    font-size: 12px;
    letter-spacing: 0;
    padding: 5px 7px;
    margin: 0 7px 7px 0px;
}
.dash-o {
    margin: 20px 0 15px;
}
.about-sec-pro ul li p{
    font-size: 14.5px;
}
.progallery .owl-nav{
    display: none;
}
.review_person .col-sm-6 {
    padding: 0 15px;
}

.wraper {
    padding-bottom: 30px;
}
.msg-me {
    width: 120px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    letter-spacing: 0px;
    margin-top: 15px;
}
.ser-pro-socail {
    margin-top: 20px;
}
.ser-pro-contact ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.ser-pro-contact ul li img, .ser-pro-contact ul li a img {
    margin-right: 8px;
}
.ser-pro-contact ul li{
    margin-right: 10px;
}
.pro-gallery em{
    height: 160px;
}

/*07/10/21(puja)*/
.property_left{width: 100%;padding-right: 0;}
.property_right {
    width: 100%;
    margin-top: 20px;
}
.property_ri_inr{padding-left: 0;}
.property_details_pg {
    padding-bottom: 26px;
}
.similar_sec {
    padding: 24px 0 44px;
}
.haeder-padding {
    padding-top: 63px;
}
.banner-section{
    padding-top: 0;
}
.navbar-brand {
    margin-left: 84px;
}
.search-list{
    position: inherit;
    }


/*agent public profile page*/

.agent_publick_link strong{line-height: 14px;
padding-left: 0;
font-size: 13px;
margin-top: 8px;}
.agent_publick_share .pro-social{margin-left: 0 !important;}
.agent_publick_abu p {
    font-size: 14px;
}
.agent_publick_link span{
    margin-top: 18px;
}
.our_properties_panel .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.agent_publick_share .pro-social {
    margin-left: 21px !important;
    margin-top: 10px;
}
.agent_publick_sec .our_properties_panel .listing-image a {
    height: 170px;
}

/*user editprofile page*/
.mobile_menu{display: block;}
.user_dashboard_left {
    width: 100%;
}
.user_dashboard{
    padding: 20px 0 62px;
}
.user_dashboard_inr::before{display: none;}
.user_dashboard_right{width: 100%; margin-top: 10px;}
.user_dash_pro{padding: 20px 0 15px;}
.user_dash_lf_inr{padding-top:0px; float: left;padding-bottom: 6px;
border-bottom: solid 1px #e2e2e2;}
.user_dash_pro{float: left; width: 45%;}
.user_dash_menu{float: left; width: 55%; border-left:1px solid #e3e3e3;     padding-left: 2%;}
.af_log_dv{position: absolute;right: 54px;}
.profidropdid{top: 38px;}
#mobile_menu_dv{display: none;}
.small_screen31 {
    margin-bottom: 15px;
    width: 50%;
    float: left;
    border: 1px solid #eaeaea;
    padding: 0;
}
.tab_head_sheet_1 {
    padding: 5px 7px;
    height: auto;
    display: initial !important;
    float: left;
    width: 100% !important;
    text-align: left;
    /* border-top: 1px solid #eaeaea; */
    min-height: 37px;
    border-bottom: 1px solid #eaeaea;
}
.W55_1 {
    display: inline-block;
    width: 100%;
    float: left;
    font-size: 13px;
    color: #9d9fa2;
    line-height: 23px;
    font-weight: 400;
}
.user-right-top-ness p, .user-right-top-new p , .tab_head_sheet_1{
    font-size: 13px;
    line-height: 18px;
}
.only_shawo {
    display: none !important;
}
.add_ttrr.actions-main.text-center{
    text-align: left !important;
}
.show-actions{
    right: auto;
    left: 0;
}
.action-dots{
    margin-left: 15px;
}
.rating-pro{
    width: 40px;
}
.user_das_right_inr .our_properties_panel .col-sm-6 {
    padding: 0 5px;
}
.our_properties_panel .list-item-info li.before::before {
    right: -5px;
}
.page-pro{
    display: none;
}
.top-total{
    display: block;
}
.search-filter.new-filters {
    padding: 20px 15px 20px;
}
.list-category-sec {
    padding-bottom: 12px;
}
.search-wrapper .mobile-list {
    left: 15px;
}
.all-products .col-sm-6.col-md-4{
    padding: 0 8px;
}
.ser-pro-info-bottom {
    margin-top: 13px;
}
.dashboard-agent{
    margin-top: 15px;
}
.cus-dashboard-right h2 {
    font-size: 18px;
    }
    .dashboard-agent:before {
    top: 68px;
    height: 102px;
}
.left-profle-agent .user_dash_pro{
    border-bottom: 0;
}
.user_chat_left {
    width: 100%;
    margin-bottom: 35px;
    border-bottom: 1px solid #ccc;
}
.user_chat_right {
    width: 100%;
    border-top: 1px solid #ccc;
}
.user_chat_list{
    padding: 0 15px;
}
.user_chat_sec {
    padding: 15px 0 25px;
}
.chat_mass_itm {
    width: 78%;
}
.chat_mass_itm_rig{
    width: 90%;
}
.das_input{
    margin-top: 14px;
}
.agent-right-body .our_properties_panel .listing-image a {
    height: 130px;
}
.agent-right-body{
    padding: 10px 9px 30px;
}
.check-box.new-av-check label.checklabeel{
    font-size: 14.5px;
    line-height: 20px;
}
.check-box.new-av-check input[type="checkbox"] + label {
    padding-left: 26px;
    }
.dasbordsLeftsec{
    position: inherit;
    top: 0;
}
.dashboard-provider {
    padding-top: 15px;
    width: 100%;
    padding-bottom:30px;
}
.cus-dashboard-right .pro-heading-das {
    margin-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.pro-dash-top {
    background: #fff;
}
.pro-dash-top h4 , .pro-dash-top h6 {
    color: #000;
    }
    .pro-n-ra span {
    background: #338306;
    color: #fff;
}
.page-jobs h5{
    display: none;
}
.jobs-total{
        padding: 4px 0 9px 18px;}
.jobs-finder .mobile-list{
    top: 7px;
}
.jobs-finder .mobile-list {
    left: 21px;
}
.jobs-finder{
    padding-bottom: 20px;
}
.our_properties_panel .col-sm-6.col-md-4{
    padding: 0 10px;
}
.jobs-details {
    padding: 20px 0 40px;
}
.main-dtls {
    margin-bottom: 15px;
    padding: 20px 18px;
}

.details-block p{
    font-size: 14px;
    line-height: 22px;
}
.hours-areas {
    margin: 10px 0 05px;
}
.hours-areas ul li {
    margin-bottom: 10px;
}
.hour-box {
    padding: 10px 8px;
}
.jobs-details-job .owl-dots {
    margin-top: 18px;
    margin-bottom: 25px;
}
}
 
/*991px*/
@media only screen and (min-width: 768px) and (max-width: 991px){
    .service-background{
        padding:20px 20px;
        margin-top: 0;
    }
    .new_rows.no-gutters > .col, .new_rows.no-gutters > [class*="col-"] {
    padding-right: 7px;
    padding-left: 0px;
}
    .propertiesbx-link p{
        font-size: 13px;
    }
    .image_div img{
        width: 35px;
    }
    .mobile-list{
        left: 45px;
    }
    .ser-pro-info-top em {
    width: 110px;
    height: 110px;
}

.ser-pro-info-top h2 , .bud-details h5{
    font-size: 15px;
    }
    .ser-pro-info-top p{
        font-size: 13.5px;
    }
.providers-info {
    padding: 15px 15px 4px;
}
.bud-details p {
    font-size: 12px;
    }
.serp-budget a {
    width: 75px;
    height: 26px;
    line-height: 26px;
    font-size: 11.5px;
}
.serp-budget {
    padding: 0 10px 12px;
}
}
 @media only screen and (max-width: 850px){
    .propertiesbx span {
    height: 155px;
}
.wish-property a {
    width: 25px;
    height: 25px !important;
    font-size: 15px;
    line-height: 27px;
}
.rating-pro {
    height: 23px;
    }
    .list-item-info li{
        margin-right: 8px;
        font-size: 12px;
    }
.listing-image a {
    height: 175px;
}
.user_das_right_inr .our_properties_panel .listing-image a {
    height: 128px;
}
.location-rating{
    padding: 3px 10px;
 }
}




@media only screen and (max-width: 767px){
.container{max-width: 100%;}
.navbar-brand img{
    width: 150px;
}
.btn-sign-in .haderbtn{
    border-radius: 3px;
}

.text-center h1 {
    font-size: 26px;
    line-height: 30px;
}
.banner-form .nav-pills li a.nav-link {
    width: 101px;
    height: 36px;
}



.banner-form .nav-pills li a.nav-link img {
   width: 18px;
}
.banner-form .nav-pills li a.nav-link.active:before{
    top: 29px;
}
.from-sec-banner{
    padding: 3px;
}
.input-with-icon input{
    height: 44px;
    font-size: 14px;
}
.search-box input{
    height: 44px;
    font-size: 16.5px;
}
.sub2-lap img{
    width: 18px;
}
.banner-form {
    margin: 19px 0 15px;
}
.input-from{
    width: calc(100% - 110px);
}

.search-box {
    width: 110px;
    height: 44px;
}
.borders .input-with-icon img {
    left: 9px;
    width: 15px;
}
.input-with-icon input{
    padding-left: 30px;
}
.input-with-icon img{
    left: 0;
    width: 18px;
}
.banner-text{
    bottom: 0px;
}
.section-heading h2 , .section-heading2 h2{
    font-size: 27px;
    margin-bottom: 6px;
        line-height: 30px;
}
.section-heading2 {
    margin-bottom: 5px;
}
.property-sec {
    padding:35px 0;
}
.section-heading p , .section-heading2 p {
    font-size: 15px;
    line-height: 22px;
}
.section-heading {
    margin-bottom: 10px;
}
.service-white {
    padding: 15px 15px;
    margin-top: 15px;
}
.service-white img {
    margin: 8px 0 10px;
    width: 60px;
}
.service-white h5 {
   font-size: 18px;
    margin: 4px 0 6px;
}
.service-white p {
    font-size: 14px;
    line-height: 19px;
    }
.service-white a {
    margin: 15px 0 10px;
    font-size: 15.5px;
}
.propertiesbx span{
    height:140px;
}
.register-section {
    padding: 35px 0;
}
.rester-info {
    border-radius: 8px 8px 0 0px;
    padding: 20px 14px 40px;
}

.register-text h5 {
    font-size: 17px;
}
.register-text p {
    margin: 5px 0 10px;
    font-size: 14px;
    line-height: 22px;
}
.pro-secr{
    border-radius: 0 0 8px 8px;
    padding-top: 35px;
}
.register-text a {
    font-size: 14px;
}
.rester-info:after{
    border-radius: 0;
}
.center_tag_wrapper {
    width: 49px;
    height: 49px;
    top: 45%;
    }
    .center_tag_wrapper p{
        font-size: 14px;
        padding-left: 9px;
    }
    .footbx {
    padding: 20px 0px 20px;
    display: inline-block;
}
.footbx p {
    margin: 10px 0;
    font-size: 13px;
    line-height: 21px;
}
.text-ffot{
    border-bottom: 1px solid #efefef;
}
.pl65 {
    border-left: 0px solid #efefef;
    padding-left: 0;
    padding-right: 0;
}
.footbx h5 {
    margin-bottom: 10px;
    font-size: 16px;
}
.footbx ul li a {
    font-size: 14px;
    padding: 5px 0;
}
.foot_botm {
    padding: 14px 0;
}
.foot_botm_left{
}
.foot_botm_right p {
    margin-right: 10px;
}
.foot_botm_right ul li a img {
    width: 25px;
}
.service-section {
    padding: 50px 0 40px;
}
header .navbar-nav .nav-link {
    font-size: 14px;
}

.foot_botm_inr{
    text-align: center;
    flex-wrap: wrap;
}
.propertiesinr .owl-nav .owl-next , .propertiesinr .owl-nav .owl-prev{
   width: 37px;
    height: 37px; 
}
.propertiesinr .owl-nav .owl-next:before , .propertiesinr .owl-nav .owl-prev:before {
    font-size: 23px;
    top: -6px;
}
.pl-3, .px-3 {
    padding-left: 0 !important;
}
.pr-3, .px-3 {
    padding-right: 0rem !important;
}
header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 7px 15px;
}
.mobile-list {
    width: 40%;
}
.search-section {
    display: block;
}
.input-search {
    display: flex;
    flex-wrap: wrap;
    width: 100% ;
}
.inputsearch {
    width: calc(50% - 10px) ;
    margin-right: 10px;
    margin-bottom: 10px;
}
.filter-category{
    width: 100%;
}
.apply-btn , .mor-filters .filter-category{
    width: 100%;
    
}
.mor-filters , .save-search{
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-left: 0;
    margin-bottom: 10px;
}
.inputsearch a, .inputsearch input , .mor-filters a, .mor-filters input , .save-search , .locatiob-search select{
    height: 40px;
    font-size: 12.5px;
    line-height: 37px;
}
.filter-category{
    top: 40px;
    padding: 5px 5px;
}
.forbuy .radiobx input[type=radio] + label , .forbuy .radiobx input[type=radio]:checked + label{
    font-size: 13.5px;
        padding: 10px 0px 10px 15px;
}
.property-data {
    display: none;
}
.search-list {
    padding: 0;
    }
    .sort-filter {
    margin-top: 0;
}
.mobile-list{
    font-size: 15px;
}
.property-item {
    padding: 12px;
    margin-top: 20px;
}
.name-price {
    margin: 6px 0 17px;
}
.name-price h5 , .name-price p , .list-item-info li span{
    font-size: 16px;
}
.list-item-info li span img {
    margin-left: 4px;
    width: 14px;
}

.propety-agent {
    margin-top: 15px;
    padding-top: 10px;
}
.agent-name h6 {
    font-size: 16px;
    letter-spacing: 0.11px;
    }
    .vi-more {
    width:86px;
    height: 32px;
    font-size: 13.5px;
    line-height: 19px;
}
.list-item-info li.before::before{
    right: -7px;
}
.pagination {
    padding: 10px 0 5px 0;
    font-size: 13px;
}
.ser-pro-info , .ser-pro-name ul{
    flex-wrap: wrap;
}

.white-backgrund {
    margin-top: 20px;
    padding: 20px 13px;
}
.ser-pro-img em {
    width: 90px;
    height: 90px;
    margin: 0 10px 0 0px;
}
.ser-pro-name h5 {
    font-size: 16px;
}
.ser-pro-name div span {
    font-size: 12px;
    padding: 2px 4px;
    margin-left: 5px;
}
.ser-pro-name p {
    font-size: 14.4px;
    margin: 5px 0 6px;
}
.ser-pro-name ul li span {
    font-size: 14.4px;
        margin-left: 4px;
}
.ser-pro-name ul li img{
    width: 18px;
}
.ser-pro-info {
    padding-right: 0px;
    padding-bottom: 20px;
    margin-bottom: 5px;
    border-right: 0px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.ser-pro-name ul li {
    margin-right: 5px;
}
.fav-pro {
    top: 10px;
    right: 10px;
}
.pro-social {
    margin-top: 12px;
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.ser-pro-contact ul li, .ser-pro-contact ul li a {
    letter-spacing: 0px;
    font-size: 14px;
}
.ser-pro-contact ul li {
    margin: 10px 0 2px 0;
}
.about-sec-pro h5{
    font-size: 17px;
    margin-bottom: 8px;
}
.about-sec-pro p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 7px;
}
.skills li {
    font-size: 12px;
    letter-spacing: 0;
    padding: 5px 7px;
    margin: 0 7px 7px 0px;
}
.dash-o {
    margin: 20px 0 15px;
}
.about-sec-pro ul li p{
    font-size: 14.5px;
}
.progallery .owl-nav{
    display: none;
}
.review_person .col-sm-6 {
    padding: 0 15px;
}
.review_person .row:before {
    display: none;
}
.review_per_item {
    padding: 15px 0px !important;
}
.review_per_item p , .moreless-button, .moreless-button2, .moreless-button3, .moreless-button4, .moreless-button5, .moreless-button6, .moreless-button7, .moreless-button8 {
    font-size: 14px;
    line-height: 20px;
}
.wraper {
    padding-bottom: 30px;
}
.msg-me {
    width: 120px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    letter-spacing: 0px;
    margin-top: 15px;
}
.ser-pro-socail {
    margin-top: 20px;
}
.ser-pro-contact ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.ser-pro-contact ul li img, .ser-pro-contact ul li a img {
    margin-right: 8px;
}
.ser-pro-contact ul li{
    margin-right: 10px;
}
.pro-gallery em{
    height: 160px;
}
/*07/10/21(puja)*/
.navbar-brand {
    margin-left: 76px;
}
.property_details_inr{padding-top: 20px;}
.property_top_le li:first-child {
    margin-right: 8px;
}
.property_top_le li{font-size: 12px;}
.property_top_le li img {
    margin-right: 6px;
}
.preowned {
    line-height: 24px;
    padding: 0 5px;
    color: #fff;
    background: #398a0c;
    border-radius: 3px;
    font-weight: 400;
    display: inline-block;
    font-size: 11px;
}
.property_top_le {
    width: 77%;
}
.property_top_rig {
    width: 23%;
}
.for_sale {
    line-height: 23px;
    padding: 0 5px;
    color: #fff;
    font-size: 10px;
}
.property_top_rig span {
    font-size: 14px;
}
#ninja-slider ul, #thumbnail-slider, #ninja-slider .ns-img {
    height: 410px !important;
}
#thumbnail-slider{padding: 19px 0 19px !important;}
#ninja-slider {
    width: 86% !important;
}
#thumbnail-slider ul li {
    backface-visibility: inherit !important;
}
.hom_det_h4 {
    margin-top: 18px;
    font-size: 18px;
}
.hom_det_ul li {
    margin-right: 3px;
}
.facil_ad li{padding: 6px 8px;font-size: 14px;margin-top: 6px;}
.hom_det_bx p{font-size: 14px;margin-top: 9px;}
.locti_panel span{font-size: 15px;}
.locti_panel iframe {
    height: 232px;
}
.hom_det_bx{padding: 0 15px 28px;}
.see_cc{height: 40px; line-height: 40px !important;}
.share_bx{padding: 13px;}
.pro_media{padding-bottom: 2px;}
.send_mess_bx li, .num_2 span:last-child {
    margin-top: 7px !important;
}
.input_type_bx{padding-top: 12px;}
.input_type_bx .view_pro_btn .see_cc {
    margin-top: 11px;
}
.section-heading p br, .section-heading2 p br{display: none;}
#thumbnail-slider {
    width: 14% !important;
}
.haeder-padding {
    padding-top: 59px;
}
.banner-section{
    padding-top: 0;
}

/*login pop up*/
.sign_popup_body h4{font-size: 19px;margin-bottom: 18px;}
.sign_popup_body .input-field label {
    font-size: 14px;
}
.sign_popup_body .input-field input, .sign_popup_body .input-field select, .sign_popup_body .input-field textarea{ font-size: 14px;}
.a_popup{font-size: 14px;}
.sing_button .see_cc, .goo_btn{height: 45px; line-height: 45px;font-size: 15px;}
.goo_btn i {
    margin-right: 13px;
    font-size: 18px;
}
.sign_popup_div{margin-top: 13px;}
.estate_agent_div .a_popup {
    font-size: 12px;
    margin-top: 19px;
}
.sign_popup_pane p{margin-top: 10px; font-size: 14px;}
.sign_popup_div .a_popup {
    font-size: 14px;
}
.or_div{padding: 18px 25px 7px;}
.goo_btn{margin-top: 9px;}
.sign_popup .modal-body {
    padding: 0 15px 30px !important;
}

/*agent public profile page*/
.agent_publick_left, .agent_publick_right {
    width:100%;
}
.agent_publick_right_inr{padding-left: 0;}
.agent_publick_link p{float: left; width: 50%;}
.our_properties_top .see_cc {
    padding: 0 13px;
    height: 28px;
    line-height: 28px !important;
    font-size: 13.75px;
}
.revew_sec_agent .see_cc {
    line-height: 30px !important;;
    height: 30px;   
}
.revew_sec_agent .revew_item p{font-size: 14px;}
.agent_publick_sec{padding: 21px 0 26px;}
.agent_publick_abu{margin-top: 10px;}
.agent_publick_abu br{display: block;}

/*user editprofile page*/
.uplodimgfil {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}
.custom_tab li a {
    font-size: 16px;
}
.dash-btn{
    margin-top: 15px;
}

.user_dashboard{padding: 15px 0 25px;}
.small_screen31 {
    width: 50%;
}
.new-pagination .page-link {
    font-size: 14px;
    height: 31px;
    }
.custom_tab li a {
    font-size: 15px;
    padding: 0px 0px 10px 0;
    margin-bottom: 9px;
}
.custom_tab li {
    margin-right: 20px;
}
.user_dashboard_right {
    margin-top: 2px;
}
.proposal-list {
    padding:10px 15px 15px;
}
.proposal-de h5 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 9px;
    }
    .proposal-action a {
    width: 30px;
    height: 30px;
    line-height: 28px;
    margin-left: 0;
}
.proposal-de ul li {
    margin-right: 10px;
    font-size: 14.9px;
    margin-bottom: 5px;
}
.proposal-de ul li img {
    margin-right: 9px;
    width: 14px;
}
.por-heding h4 {
    font-size: 18px;
}
.proposal-box {
    padding: 15px 10px;
}
.pro-user em {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}
.pro-user-name h5 a {
    font-size: 16px;
    margin-bottom: 4px;
}
.pro-user-name p {
    font-size: 14.5px;
}
.pro-award a {
    width: 85px;
    height: 34px;
    letter-spacing: 0.1px;
    font-size: 15px;
    line-height: 34px;
}
.proposla-para p {
    letter-spacing: 0.1px;
    font-size: 15px;
    line-height: 21px;
}
.proposla-ul ul {
    margin-top: 7px;
}
.proposla-ul ul li span {
    font-size: 15px;
}
.proposla-ul ul li {
    margin-right: 20px;
}
.proposal-list .das_input {
    margin-top: 12px;
}
.proposal-list .dash-btn {
    margin-top: 18px;
}
.rating-pro{
    width: 36px;
}
.user_das_right_inr .our_properties_panel .listing-image a {
    height: 155px;
}
.prop .ul_radio {
    justify-content: inherit;
}
.dash-list-agent .upimg {
    width: 100px;
    height: 96px;
    margin-right:15px;
}
.dash-list-agent .upimg a{
    width: 18px;
    height: 18px;
    line-height: 18px;
}
.chat_rig_top , .chat_rig_body , .chat_rig_foot{
    padding: 12px 12px 12px 12px;
}
    .see_cc {
    height: 38px;
    line-height: 38px;
    padding: 0 6px;
    font-size: 13px;
}
.chat_rig_top_le h1, .chat_rig_top_le h2 {
    font-size: 16.75px;
}
.chat_rig_top_le p {
    font-size: 12.58px;
}
.chat_mass_itm {
    width:100%;
}
.inputs_send {
    width: 15%;
}
.chat_rig_inputs{
    width: 85%;
}
.chat_rig_inputs , .chat_rig_inputs input , .inputs_send input[type="submit"] {
    height: 45px;
}
.file_in label {
    height: 49px;
    line-height: 44px;
}
.agent-right-body  .rating-pro {
    width: 45px;
}
.agent-right-body .our_properties_panel .listing-image a {
    height: 170px;
}
.form_box_area.das_input {
   margin-bottom: 10px;
   margin-top: 10px;
}
.check-box.new-av-check label.checklabeel{
    font-size: 16px;
}
.adds_btn {
    margin-top: -13px;
    width: 94px;
    height: 39px;
    margin-left: 0;
    line-height: 39px;
}
.list-showag li {
    padding: 6px 8px;
    border-radius: 3px;
    margin-right: 7px;
    font-size: 12.85px;
    margin-top: 5px;
    margin-bottom: 1px;
}
.member-box {
    padding: 20px 15px;
    margin-top: 20px;
}
.member-box h2 {
    font-size: 18px;
    margin-bottom: 14px;
}
.member-box h3 {
    font-size: 16.2px;
    margin-bottom: 15px;
}
.member-box h5 {
    font-size: 15.5px;
    margin-bottom: 10px;
}
.member-box p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
}
.member-box h3.extra-mem {
    font-size: 20px;
}
.up-work-img{
    height: 100px;
}

.edit-gallerynew .upimg{
    height: 140px;
}
.all-jobs {
    padding-left: 0;
}
.all-jobs .col-md-6.col-sm-6.col-12 {
    padding-right: 10px;
    padding-left: 10px;
}
.job-lists {
    padding: 15px 10px;
    margin: 15px 0 0 0px;
}
.job-lists h2{
    font-size: 16px;
}
.job-lists h5{
    font-size: 14px;
    margin-bottom: 6px;
}
.job-lists p {
    font-size: 13px;
    line-height: 20px;
}
.job-lists ul li{
    font-size: 13px;
    margin: 5px 0;
    margin-right: 10px;
}
.job-lists ul li img {
    margin-right: 3px;
    width: 12px;
}
.job-lists ul {
    padding: 8px 0 10px;
    flex-wrap: wrap;
    justify-content: inherit;
}
.posted p{
    font-size: 12px;
}
.posted a {
    width: 70px;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
}
.jobs-finder .mobile-list {
    left: 0px;
}
.jobs-details {
    padding: 20px 0 40px;
}
.main-dtls {
    margin-bottom: 15px;
    padding: 20px 12px;
}
.details-block h2 {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
}
.jobs-subject h5 img {
    margin-right: 5px;
}
.jobs-subject h5{
    font-size: 16px;
}
.details-block p{
    font-size: 14px;
    line-height: 22px;
}
.hours-areas {
    margin: 10px 0 05px;
}
.hours-areas ul li {
    width: 49%;
    margin-bottom: 10px;
}
.hour-box {
    padding: 10px 8px;
}
.hour-box span {
    width: 29px;
    height: 42px;
}
.hour-box h6 {
    font-size: 15px;
    margin-bottom: 0;
}
.bodar4 , .job-app {
    margin-top: 10px;
}
.jobs-details-job {
    margin-top: 19px;
}
.jobs-details-job h3{
    font-size: 18px;
    margin-bottom: 8px;
}
.jobs-details-job .owl-dots {
    margin-top: 10px;
    margin-bottom: 20px;
}
.client-box h3 , .postd-na h3 a , .get_quote h3{
    font-size: 16px;
}
.below-abouts p{
    font-size: 14.5px;
}
.foot_botm_left li{
    font-size: 14px;
}
.foot_botm_right p{
    font-size: 15px;
}
.agent_publick_share {
    width: 100%;
    text-align: center;
    padding-top: 16px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}
.agent_publick_det{
    width: 35%;
    border-bottom: solid 0px #f1f1f1;
    border-right: solid 1px #f1f1f1;
}

.agent_publick_link{
    width: 60%;
    padding: 0 10px;
        float: right;
        border-bottom: solid 0px #f1f1f1;
}


.agent_publick_link strong br{display: block;}


}
/*767*/

@media only screen and (max-width: 668px){
    .pro-budget {
    position: absolute;
    top: 74px;
    left: 115px;
}
.ser-pro-socail {
    margin-top: 0px;
}
.msg-me {
    width: 120px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    letter-spacing: 0px;
        margin-top: 39px;
}
.pro-budget p {
    font-size: 16px;
}
    }

@media only screen and (min-width:576px) and (max-width: 767px){
    .product-img-location p{
        font-size: 14px;
    }
    .agent-info em {
    width: 32px;
    height: 32px;
        margin-right: 5px;
}
.agent-name h6 {
    font-size: 14px;
        margin-bottom: 3px;
    letter-spacing:0px;
}
.name-price h5, .name-price p, .list-item-info li span {
    font-size: 14px;
}
.agent-name p{
font-size: 12px}
.vi-more {
    width: 79px;
    height: 30px;
    font-size: 12.5px;
    line-height: 19px;
}
}
@media only screen and (max-width: 690px){
.text-center h1 {
    font-size: 25px;
    line-height: 30px;
}
.banner-text {
    bottom: -30px;
}
.propertiesbx span {
    height: 170px;
}
.listing-image a{
    height: 175px;
}
}
@media only screen and (max-width: 690px){
    .listing-image a{
    height: 170px;
}
.small_screen31 {
    width: 100%;
}
.agent_publick_det {
    width: 34%;
    }
}


@media only screen and (max-width: 575px){
.container{max-width: 100%;}
.navbar-brand img{
    width: 150px;
}


.text-center h1 {
    font-size: 24px;
    line-height: 27px;
}
.banner-form .nav-pills li a.nav-link {
    width: 101px;
    height: 36px;
}



.banner-form .nav-pills li a.nav-link img {
   width: 18px;
}
.banner-form .nav-pills li a.nav-link.active:before{
    top: 29px;
}
.from-sec-banner{
    padding: 3px;
}
.input-with-icon input{
    height: 44px;
    font-size: 14px;
}
.search-box input{
    height: 44px;
    font-size: 16.5px;
}
.sub2-lap img{
    width: 18px;
}
.banner-form {
    margin: 19px 0 15px;
}
.input-from{
    width: calc(100% - 110px);
}

.search-box {
    width: 110px;
    height: 44px;
}
.borders .input-with-icon img {
    left: 9px;
    width: 15px;
}
.input-with-icon input{
    padding-left: 30px;
}
.input-with-icon img{
    left: 0;
    width: 18px;
}
.banner-text{
    bottom: -54px;
}
.section-heading h2 , .section-heading2 h2{
    font-size: 27px;
    margin-bottom: 6px;
        line-height: 30px;
}
.section-heading2 {
    margin-bottom: 5px;
}
.property-sec {
    padding:25px 0;
}
.section-heading p , .section-heading2 p {
    font-size: 15px;
    line-height: 22px;
}
.section-heading {
    margin-bottom: 10px;
}
.service-white {
    padding: 15px 25px;
    margin-top: 25px;
}
.service-white h5 {
    font-size: 20px;
    margin: 7px 0 10px;
}
.service-white a {
    margin: 15px 0 10px;
    font-size: 15.5px;
}
.propertiesbx span{
    height: 210px;
}
.register-section {
    padding: 35px 0;
}
.rester-info {
    border-radius: 8px 8px 0 0px;
    padding: 20px 14px 40px;
}

.register-text h5 {
    font-size: 17px;
}
.register-text p {
    margin: 5px 0 10px;
    font-size: 14px;
    line-height: 22px;
}
.pro-secr{
    border-radius: 0 0 8px 8px;
    padding-top: 35px;
}
.register-text a {
    font-size: 14px;
}
.rester-info:after{
    border-radius: 0;
}
.center_tag_wrapper {
    width: 49px;
    height: 49px;
    top: 45%;
    }
    .center_tag_wrapper p{
        font-size: 14px;
        padding-left: 9px;
    }
    .footbx {
    padding: 20px 0px 20px;
    display: inline-block;
}
.footbx p {
    margin: 10px 0;
    font-size: 13px;
    line-height: 21px;
}
.pl65 {
    border-top: 1px solid #efefef;
    border-left: 0px solid #efefef;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.footbx h5 {
    margin-bottom: 10px;
    font-size: 16px;
}
.footbx ul li a {
    font-size: 14px;
    padding: 5px 0;
}
.foot_botm {
    padding: 14px 0;
}
.foot_botm_left{
    margin-bottom: 12px;
}
.foot_botm_right p {
    margin-right: 10px;
}
.foot_botm_right ul li a img {
    width: 25px;
}
.service-section {
    padding: 80px 0 40px;
}
header .navbar-nav .nav-link {
    font-size: 13.5px;
}
.center_tag_wrapper p {
    font-size: 14px;
    padding-left: 5px;
    margin-top: 20px;
}
.pl-3, .px-3 {
    padding-left: 0 !important;
}
.pr-3, .px-3 {
    padding-right: 0rem !important;
}
.propertiesbx span {
    height: 151px;
}
.banner-form .nav-pills li a.nav-link{
    font-size: 14px;
}
.mobile-list {
    width: 40%;
}
.search-section {
    display: block;
}
.input-search {
    display: block;
    width: 100% ;
}
.inputsearch {
    width: 100% ;
    margin-right: 0;
    margin-bottom: 10px;
}
.filter-category{
    width: 100%;
}
.apply-btn , .mor-filters .filter-category{
    width: 100%;
    display: block;
}
.mor-filters , .save-search{
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
}
.inputsearch a, .inputsearch input , .mor-filters a, .mor-filters input , .save-search , .locatiob-search select{
    height: 40px;
    font-size: 12.5px;
    line-height: 37px;
}
.filter-category{
    top: 40px;
    padding: 5px 5px;
}
.forbuy .radiobx input[type=radio] + label , .forbuy .radiobx input[type=radio]:checked + label{
    font-size: 13.5px;
        padding: 10px 0px 10px 15px;
}
.property-data , .sort-filter p{
    display: none;
}
.search-list {
    padding: 0;
    }
    .sort-filter {
    margin-top: 0;
}
.mobile-list{
    font-size: 15px;
}
.property-item {
    padding: 12px;
    margin-top: 20px;
}
.name-price {
    margin: 6px 0 17px;
}
.name-price h5 , .name-price p , .list-item-info li span{
    font-size: 16px;
}
.list-item-info li span img {
    margin-left: 4px;
    width: 14px;
}

.propety-agent {
    margin-top: 15px;
    padding-top: 10px;
}
.agent-name h6 {
    font-size: 16px;
    letter-spacing: 0.11px;
    }
    .vi-more {
    width:86px;
    height: 32px;
    font-size: 13.5px;
    line-height: 19px;
}
.list-item-info li.before::before{
    right: -60px;
}
.listing-image a {
    height: 220px;
}
.ser-pro-info , .ser-pro-name ul{
    flex-wrap: wrap;
}

.white-backgrund {
    margin-top: 20px;
    padding: 20px 13px;
}
.ser-pro-img em {
    width: 90px;
    height: 90px;
    margin: 0 10px 0 0px;
}
.ser-pro-name h5 {
    font-size: 16px;
}
.ser-pro-name div span {
    font-size: 12px;
    padding: 2px 4px;
    margin-left: 5px;
}
.ser-pro-name p {
    font-size: 14.4px;
    margin: 5px 0 6px;
}
.ser-pro-name ul li span {
    font-size: 14.4px;
        margin-left: 4px;
}
.ser-pro-name ul li img{
    width: 18px;
}
.ser-pro-info {
    padding-right: 0px;
    padding-bottom: 20px;
    margin-bottom: 5px;
    border-right: 0px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.ser-pro-name ul li {
    margin-right: 5px;
}
.fav-pro {
    top: 10px;
    right: 10px;
}
.pro-social {
    margin-top: 12px;
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.ser-pro-contact ul li, .ser-pro-contact ul li a {
    letter-spacing: 0px;
    font-size: 14px;
}
.ser-pro-contact ul li {
    margin: 10px 0 2px 0;
}
.about-sec-pro h5{
    font-size: 17px;
    margin-bottom: 8px;
}
.about-sec-pro p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 7px;
}
.skills li {
    font-size: 12px;
    letter-spacing: 0;
    padding: 5px 7px;
    margin: 0 7px 7px 0px;
}
.dash-o {
    margin: 20px 0 15px;
}
.about-sec-pro ul li p{
    font-size: 14.5px;
}
.progallery .owl-nav{
    display: none;
}
.review_person .col-sm-6 {
    padding: 0 15px;
}
.review_person .row:before {
    display: none;
}
.review_per_item {
    padding: 15px 0px !important;
}
.review_per_item p , .moreless-button, .moreless-button2, .moreless-button3, .moreless-button4, .moreless-button5, .moreless-button6, .moreless-button7, .moreless-button8 {
    font-size: 14px;
    line-height: 20px;
}
.wraper {
    padding-bottom: 30px;
}
.pro-budget {
    position: absolute;
    top: 74px;
    left: 115px;
}
.msg-me {
    width: 120px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    letter-spacing: 0px;
        margin-top: 39px;
}
.pro-budget p {
    font-size: 16px;
}
.pro-gallery em{
    height: 196px;
}
.ser-pro-contact ul li {
    margin: 10px 10px 2px 0;
}

/*07/10/21(puja)*/
.property_top_le h1 {
    font-size: 21px;
}
.property_top_le {
    width: 100%;
}
.property_top_rig {
    width: 100%;
    text-align: left;
    margin-top: 6px;
}
.property_top_le ul {
    margin-top: 7px;
}
.hhert_icon{width: 30px;
height: 30px;
line-height: 33px;
font-size: 15px;}
#ninja-slider-prev::before, #ninja-slider-next::before {
 width: 12px;
height: 12px;
}
#ninja-slider-prev {
    left: 0 !important;
}
#ninja-slider-next {
    right: 0 !important;
}
#thumbnail-slider {
    width: 15% !important;
}
#ninja-slider {
    width: 85% !important;
}
.haeder-padding {
    padding-top: 59px;
}
.banner-section{
    padding-top: 0;
}

/*agent public profile page*/
.user_dashboard_right h1 {
    padding: 10px 15px;
    font-size: 16px;
}
.user_das_right_inr {
    padding: 10px 10px 24px;
}
.das_input h4 {
    margin-top: 7px;
    font-size: 16px;
    margin-bottom: 1px;
}
.bodar{margin-top: 22px;}
.das_input label, .uplodimgfil b, .redio_bx span {
    font-size: 14px;
}
.inputfile + label{font-size: 14px !important;}
.uplodimgfil {
    -ms-flex: 0 0 70%;
    flex: 0 0 80%;
    max-width: 80%;
}
.uplodimg_pick{margin-left: 8px;}
.user_dashboard{padding: 15px 0 25px;}
.small_screen31 {
    width: 100%;
}
.new-pagination .page-link {
    font-size: 14px;
    height: 31px;
    }
.custom_tab li a {
    font-size: 15px;
    padding: 0px 0px 10px 0;
    margin-bottom: 9px;
}
.custom_tab li {
    margin-right: 20px;
}
.user_dashboard_right {
    margin-top: 2px;
}
.proposal-list {
    padding:10px 15px 15px;
}
.proposal-de h5 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 9px;
    }
    .proposal-action a {
    width: 30px;
    height: 30px;
    line-height: 28px;
    margin-left: 0;
}
.proposal-de ul li {
    margin-right: 10px;
    font-size: 14.1px;
    margin-bottom: 5px;
}
.proposal-de ul li img {
    margin-right: 5px;
    width: 14px;
}
.por-heding h4 {
    font-size: 16px;
}
.proposal-box {
    padding: 15px 10px;
}
.pro-user em {
    width: 40px;
    height: 40px;
    margin-right: 7px;
}
.pro-user-name h5 a {
    font-size: 15.5px;
    margin-bottom: 4px;
}
.pro-user-name p {
    font-size: 13.5px;
}
.pro-award a {
    margin-left: 0;
    margin-right: 5px;
    width: 75px;
    height: 31px;
    letter-spacing: 0.1px;
    font-size: 13px;
    line-height: 31px;
}
.proposla-para p {
    letter-spacing: 0.1px;
    font-size: 14px;
    line-height: 20px;
}
.proposla-ul ul {
    margin-top: 7px;
}
.proposla-ul ul li span {
    font-size: 14px;
}
.proposla-ul ul li {
    margin-right: 10px;
}
.vip-tab ul li a {
    height: 39px;
    padding: 0 17px 0 47px;
    line-height: 39px;
    font-size: 14px;
}
.vip-tab ul li a.first1 {
    padding-left: 17px;
}
.user_das_right_inr .our_properties_panel .listing-image a {
    height: 114px;
}

.our_properties_panel .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.agent_publick_sec .our_properties_panel .listing-image a {
    height: 120px;
}
.our_properties_panel .list-item-info li.before::before {
    right: -5px;
}
.all-products .col-sm-6.col-md-4 {
    padding: 0 8px;
    width: 50%;
}
.dashboard-agent:before {
    top: 50px;
}
.dashboard-agent {
    margin-top: 10px;
}
.agent-das-tab ul li {
    padding: 10px 12px;
    margin-left: 10px;
}
.agent-das-tab ul li a {
    font-size: 15px;
}
.agent-right-body {
    padding: 5px 12px 20px;
    background: #fff;
}
.new-aget-pro li {
    width: 50%;
}
.dash-list-agent .upimg {
    width: 100px;
    height: 96px;
    margin-right:15px;
}
.dash-list-agent .upimg a{
    width: 18px;
    height: 18px;
    line-height: 18px;
}
.user_chat_list{
    padding: 0 12px;
}
.user_chat_item p {
    font-size: 13px;
    margin-top: 4px;
}
.sharch_input{
    height: 42px;
}
.sharch_input input[type="text"]{
    height: 37px;
}
.sharch_input input[type="submit"]{
    height: 42px;
}
.chat_mass_bx p {
    font-size: 13px;
    line-height: 19px;
}
.chat_mass_bx {
    padding: 10px 10px;
}
.chat_mass_itm_rig .media em img {
    margin-left: 5px;
}
.agent-right-body .our_properties_panel .listing-image a {
    height: 125px;
}
.agent-right-body .check-box input[type="checkbox"] + label {
    margin-bottom: 8px;
}
.form_box_area.das_input {
   margin-bottom: 10px;
   margin-top: 0
}
.res-modal .modal-title {
    font-size: 16px;
    }
.member-box {
    padding: 20px 15px;
    margin-top: 20px;
}
.member-box h2 {
    font-size: 18px;
    margin-bottom: 14px;
}
.member-box h3 {
    font-size: 16.2px;
    margin-bottom: 15px;
}
.member-box h5 {
    font-size: 15.5px;
    margin-bottom: 10px;
}
.member-box p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
}
.member-box h3.extra-mem {
    font-size: 20px;
}
.af_log_dv em b{
    font-size: 14.5px;
}
.af_log_dv em b img {
    margin-right: 3px;
}
.af_log_dv span img {
    margin-left:2px;
}
.af_log_dv b img {
    width:25px;
    height: 25px;
    }
.cus-dashboard-right h2 {
    font-size: 17px;
}
.up-work-img{
    height: 100px;
}
.edit-gallerynew li {
    width: calc(33% - 15px);
    margin-right: 15px;
}
.edit-gallerynew .upimg{
    height: 140px;
}
.agent-das-tab hr {
    margin: 0 -12px;}
.all-jobs {
    padding-left: 0;
}
.all-jobs .col-md-6.col-sm-6.col-12 {
    padding-right: 15px
}
.job-lists {
    padding: 15px 10px;
    margin: 15px 0 0 0px;
}
.job-lists h2{
    font-size: 16px;
}
.job-lists h5{
    font-size: 14px;
    margin-bottom: 6px;
}
.job-lists p {
    font-size: 13px;
    line-height: 20px;
}
.job-lists ul li{
    font-size: 13px;
    margin-bottom: 0;
    margin-right: 0;
}
.job-lists ul li img {
    margin-right: 3px;
    width: 12px;
}
.job-lists ul {
    padding: 8px 0 10px;
    flex-wrap: unset;

    justify-content: space-between;
}
.posted p{
    font-size: 12px;
}
.posted a {
    width: 70px;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
}
.jobs-details {
    padding: 20px 0 40px;
}
.main-dtls {
    margin-bottom: 15px;
    padding: 20px 12px;
}
.details-block h2 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 8px;
}
.jobs-subject h5 img {
    margin-right: 5px;
}
.jobs-subject h5{
    font-size: 14px;
}
.details-block p{
    font-size: 13px;
    line-height: 21px;
}
.hours-areas {
    margin: 6px 0 05px;
}
.hours-areas ul li {
    width: 49%;
    margin-bottom: 10px;
}
.hour-box {
    padding: 10px 8px;
}
.hour-box span {
    width: 29px;
    height: 42px;
}
.hour-box h6 {
    font-size: 15px;
    margin-bottom: 0;
}
.bodar4 , .job-app {
    margin-top: 10px;
}
.jobs-details-job {
    margin-top: 19px;
}
.jobs-details-job h3{
    font-size: 18px;
    margin-bottom: 8px;
}
.jobs-details-job .owl-dots {
    margin-top: 10px;
    margin-bottom: 20px;
}
.client-box h3 , .postd-na h3 a , .get_quote h3{
    font-size: 16px;
}
.below-abouts p{
    font-size: 14.5px;
}
.job-app div ul li img {
    width: 18px;
}
.agent_publick_det{
    width: 100%;
    border-bottom: solid 1px #f1f1f1;
    border-right: solid 0px #f1f1f1;
}

.agent_publick_link{
    width:100%;
    padding: 0 10px;
        float: right;
        border-bottom: solid 1px #f1f1f1;
}
}

/*575*/

@media only screen and (max-width: 543px){

#thumbnail-slider {
    width: 20% !important;
    padding-right: 
}
#ninja-slider {
    width: 80% !important;
}
.paginationsec li a {
    width: 34px;
    height: 42px;
}

.edit-gallerynew .upimg{
    height: 140px;
}

}

@media only screen and (max-width: 480px){
.container{max-width: 100%;}
.navbar-brand {
    margin-right: 0.5rem;
}
.navbar-brand img{
    width: 140px;
}
.text-center h1 {
    font-size: 21px;
    line-height: 23px;
}
.center_tag_wrapper {
    width: 49px;
    height: 49px;
    top: 43%;
    left: 43%;
}
.propertiesbx span {
    height: 210px;
}
.search-box {
    width: 101px;
    height: 44px;
}
.sub2-lap {
    left: 11px;
}
.input-from {
    width: calc(100% - 101px);
}
.borders {
    margin-right: 7px;
}
.input-with-icon input {
    height: 44px;
    font-size: 13px;
    padding-right: 4px;
}
.input-with-icon input {
    padding-left: 25px;
}
.input-with-icon img {
    width: 15px;
}
.borders .input-with-icon img {
    width: 11px;
}
.mobile-list {
    width: 46%;
}
.sort-select {
    width: 95%;
    float: right;
}
.all-products .col-sm-6.col-md-4 {
    padding: 0 8px;
    width: 100%;
}
.list-item-info li{
    margin-right: 0;
}

.list-item-info li.before::before {
    right: -30px;
}

.ser-pro-img em{
    margin-bottom: 10px;
}
.pro-budget{
    position: absolute;
    top: 74px;
    left: 115px;
}
.pro-budget p{
    font-size: 15px;
}
.msg-me{
    margin-top: 39px;
}

/*07/10/21(puja)*/
.revew_top{flex-direction: column; }
.star_bx{width: 100%; text-align: left; padding-left: 44px; margin-top: 10px;}
.revew_top .media{width: 100%;}
.revew_top .media .media-body h5{font-size: 15px;margin-top: 4px;}
.revew_top .media .media-body h4 {
    font-size: 14px;
}
.revew_item{padding: 5px 0 14px;}
.input_otp {
    padding: 15px 0 3px;
}
.input_otp li {
    padding: 0 2px;
}
.input_otp ul{margin: 0 -2px;}
.input_otp input{height: 45px;}

/*agent public profile page*/
.our_properties_panel .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.our_properties_top span {
    font-size: 17px;

}
.agent_publick_abu p{margin-top: 5px;}
.our_properties_panel .property-item {
    margin-top: 13px;
}
.pro-social p{font-size: 13px;}
.revew_sec_agent .star_bx{padding-left: 0;}

/*user editprofile page*/
.user_dash_pro {
    float: left;
    width: 100%;
}
.user_dash_menu {
    float: left;
    width: 100%;
}
.pro-award{
    margin-top: 8px;
}
.user_das_right_inr .our_properties_panel .listing-image a {
    height: 180px;
}
.our_properties_panel .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.agent-das-tab ul li {
    padding: 8px 10px;
    margin-left: 7px;
}
.agent-das-tab ul li a {
    font-size: 14px;
}
.prop .ul_radio{
    justify-content: inherit;

}
.ul_radio li {
    margin-top: 6px;
}
.category-ul li label{
    font-size: 14px;
}
.new-aget-pro li {
    width: 100%;
}
.new-aget-pro .redio_bx .category-ul li label {
    font-size: 14px;
}
.dash-list-agent .upimg {
    width: 90px;
    height: 85px;
    margin-right:15px;
}
.dash-list-agent .upimg{
    margin-bottom: 8px;
}
.agent-right-body .our_properties_panel .listing-image a {
    height: 185px;
}
.agent-right-body .star_bx{
    padding-left: 0;
}
.agent-right-body .revew_item p {
    font-size: 14px;
    line-height: 22px;
}
.pro-dash-top {
    background: #338306;
}
.pro-dash-top h4 , .pro-dash-top h6 {
    color: #fff;
    }
     .pro-n-ra span {
    background: #fff;
    color: #338306;
}
.edit-gallerynew .upimg{
    height: 115px;
}
}

/*480*/
@media only screen and (max-width: 450px){
    .see_cc {
    height: 38px;
    line-height: 38px;
    padding: 0 6px;
    font-size: 13px;
}
.inputs_send {
    width: 20%;
}
.chat_rig_inputs{
    width: 80%;
}
.agent-right-body .our_properties_panel .listing-image a {
    height: 170px;
}
.edit-gallerynew li {
    width: calc(50% - 15px);
    margin-right: 15px;
}
.edit-gallerynew .upimg{
    height: 164px;
}
.agent-das-tab.user-search-tabs ul li {
    padding: 11px 10px;}
    .agent-das-tab ul{
        padding-left: 0;
    }
    .job-app div ul , .job-app div span{
        margin-top: 8px;
    }
}

@media only screen and (max-width: 400px){
.navbar-brand img{
    width: 130px;
}
.banner-text {
    bottom:108px;
    position: inherit;
}
.text-center h1{
       
        font-size: 20px;
    line-height: 24px;
}
.banner-form {
    margin: 12px 0 15px;
}
.from-sec-banner , .input-from{
    display: block;
}
.input-from {
    width: 100%;
}
.borders {
    border-bottom:1px solid #e0e0e0;
    border-right: 0px solid #e0e0e0;
    margin-right: 0px;
}
.input-with-icon input {
    padding-left: 35px;
}
.input-with-icon img {
    left: 7px;
    width: 18px;
}
.search-box input {
    height: 40px;
    font-size: 16.5px;
    margin-left: 5px;
}
.sub2-lap {
    top: 24%;
}
.service-section {
    padding: 0 0 40px;
    margin-top: -90px;
}
.section-heading h2, .section-heading2 h2 {
    font-size: 23px;
    margin-bottom: 4px;
    line-height: 26px;
}
.section-heading p, .section-heading2 p {
    font-size: 13px;
    line-height: 18px;
}
.service-white {
    padding: 15px 25px;
    margin-top: 15px;
}
.propertiesbx span {
    height: 151px;
}
.foot_botm_left li , .foot_botm_right p{
    font-size: 13px;
}
.listing-image a{
    height: 200px;
}
.ser-pro-details{
    flex-wrap: wrap;
}
.pro-budget{
    position: absolute;
    top: 177px;
    left: 13px;
}
.pro-social{
    margin-left: 0;
}
.ser-pro-contact ul {
    display: block;
}
.certification li {
    margin-right: 10px;
    margin-bottom: 7px;
    }

/*07/10/21(puja)*/
.similar_sec .propety-agent{flex-direction: column; align-items: flex-start;}
.similar_sec .vi-more{margin-top: 10px;}
.similar_sec .list-item-info li.before::before {
    right: -25px;
}
.section-heading h2, .section-heading2 h2 {
    font-size: 18px;
}
.input_type_bx p{margin-top: 10px;}
.property_details_pg {
    padding-bottom: 14px;
}
.similar_sec {
    padding: 14px 0 37px;
}
.calendar_div{padding-top: 15px;}

#thumbnail-slider {
    width: 25% !important;
    padding-right: 
}
#ninja-slider {
    width: 73% !important;
}
#ninja-slider ul, #thumbnail-slider, #ninja-slider .ns-img {
    height: 259px !important;
}
/*agent public profile page*/
.agent_publick_link p {
    float: left;
    width: 100%;
}
.agent_publick_link span{margin-top: 15px;}
.agent_publick_share{flex-direction: column; align-items: flex-start;}
.agent_publick_share .pro-social {
    margin-left: 0 !important;
    margin-top: 9px;
}
.agent_publick_det h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #303340;
    margin-top: -20px;
}
.agent_publick_share{padding-top: 10px;}
.agent_publick_abu{padding: 15px 15px 18px;}
.revew_sec_agent {
    padding: 0 15px 24px;
    margin-top: 20px;
}
.revew_sec_agent .star_bx{flex-direction: column; align-items: flex-start;}
.revew_sec_agent .star_bx strong{margin-left: 0;}

.agent-right-body .our_properties_panel .listing-image a {
    height: 160px;
}
.res-modal .modal-body .appome_input {
    width: 100%;
    float: left;
    margin-right: 0%;
}
.navbar-brand {
    margin-left: 52px;
}
.af_log_dv {
    right: 46px;
}
.dashboard-provider {
    padding-top: 5px;
    padding-bottom: 20px;
}
.edit-gallerynew .upimg{
    height: 140px;
}
.agent-das-tab.user-search-tabs ul li {
    padding: 8px 6px;}
.jobs-details {
    padding: 10px 0 30px;
}
.hours-areas ul li {
    width: 100%;
    }
    .details-block h2 {
    font-size: 16px;
}
}
/*400*/

@media only screen and (max-width: 350px){
.navbar-brand img{
    width: 110px;
}
.banner-text {
    bottom: 78px;
    position: inherit;
}
.text-center h1{
       
        font-size: 20px;
    line-height: 24px;
}
.banner-form {
    margin: 12px 0 15px;
}
.from-sec-banner , .input-from{
    display: block;
}
.input-from {
    width: 100%;
}
.borders {
    border-bottom:1px solid #e0e0e0;
    border-right: 0px solid #e0e0e0;
    margin-right: 0px;
}
.input-with-icon input {
    padding-left: 35px;
}
.input-with-icon img {
    left: 7px;
    width: 18px;
}
.search-box input {
    height: 40px;
    font-size: 16.5px;
}
.sub2-lap {
    top: 24%;
}
.service-section {
    padding: 0 0 40px;
    margin-top: -40px;
}
.section-heading h2, .section-heading2 h2 {
    font-size: 20px;
    margin-bottom: 4px;
    line-height: 26px;
}
.section-heading p, .section-heading2 p {
    font-size: 13px;
    line-height: 18px;
}
.propertiesbx span {
    height: 151px;
}
.foot_botm_left li , .foot_botm_right p{
    font-size: 13px;
}
header .navbar-nav .nav-link {
    font-size: 13px;
}
header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 6px 15px;
}
.listing-image a{
    height: 170px;
}
.ser-pro-details{
    flex-wrap: wrap;
}
.ser-pro-img em{
    margin-bottom: 10px;
}
.pro-budget{
    position: absolute;
    top: 177px;
}
.pro-budget p{
    font-size: 15px;
}
.msg-me{
    margin-top: 32px;
}
.vip-tab ul li a {
    height: 37px;
    padding: 0 10px 0 47px;
    line-height: 37px;
    font-size: 13px;
}
.vip-tab ul li a.first1 {
    padding-left: 10px;
}
.mobile-list {
    width: 42%;
}
.edit-gallerynew .upimg{
    height: 120px;
}
.agent-das-tab.user-search-tabs ul li {
    padding: 8px 4px;}
.job-lists ul li {
    font-size: 12px;
}
.job-lists ul li img {
    margin-right: 2px;
    width: 10px;
}
.posted a {
    width: 65px;
    height: 27px;
    line-height: 27px;
    font-size: 11px;
}
.job-lists {
    padding: 12px 7px;
    margin: 10px 0 0 0px;
}
}
/*350*/